{%extends "base.html"%} 
{%block title%}<title>Team Matcher Leaderboard</title>{%endblock%}
{% block content%}

<style>
    #wrap {
        float: left;
        position: relative;
        left: 50%;
        text-align: left;
    }
    
    #content {
        float: left;
        position: relative;
        left: -50%;
        text-align: left;
    }
</style>

<body>
    <div class="container" >
        <br><br><br><br><br>
        <h1>Leaderboard</h1>
        <p>The score shows how many times each user has won against another player or team they matched with using compete mode</p>
        {% if user.is_authenticated %}
        <a href = "/addScore/">click here if you have won a game and would like to update your score</a>
        {% endif %}
        <br><br>
        <ol style="color: white; font-size: 30pt;">
            <div id="wrap">
                <div id="content">
                    {%for x in pos%}
                    <li><h3 style="text-align:left;">  {{x.name}} </h3></li>
                    <p style="text-align:left; font-size: 15pt;">Username: {{x.username}}</p>
                    <p style="text-align:left; font-size: 15pt;">Score: {{x.score}}</p>
                    {%endfor%}
                </div>
            </div>
        </ol> 
    </div>
</body>
{%endblock%}
