{%extends "base.html"%} {% block content%}

<style>
    #wrap {
        float: left;
        position: relative;
        left: 50%;
        text-align: left;
    }
    
    #content {
        float: left;
        position: relative;
        left: -50%;
        text-align: left;
    }
</style>

<body>
    <div class="container" >
        <br><br><br><br><br>
        <h1>Leader Board</h1>
        <br><br>
        <ol style="color: white">
            <div id="wrap">
                <div id="content">
                    {%for x in pos%}
                    <li><h3 style="text-align:left;">  {{x.name}} </h3></li>
                    <br>
                    <p style="text-align:left;">Username: {{x.username}}</p>
                    <p style="text-align:left;">Score: {{x.score}}</p>
                    <br> {%endfor%}
                </div>
            </div>
        </ol> 
    </div>
</body>
{%endblock%}
