{%extends "base.html"%} {% block title %}Create an Account{% endblock %} 


{% block content %}
<style>
    p {
        text-align: left;
      }

    ul {
        text-align: left;
        display: block;
      }
    
    #wrap {
        float: left;
        position: relative;
        left: 50%;
        text-align: left;
    }

    #content {
        float: left;
        position: relative;
        left: -50%;
        text-align: left;
    }

    input[type=radio] {
        width:10px;
        
    }
    label{
        text-align:left;
        width: 140px;;
    }
</style>


<br><br><br><br> <br><br>
<h1>REGISTER</h1>
<br><br>
<div id="wrap">
    <div id="content">
        <form method="POST">
            {% csrf_token %} {{ form.as_p}} 
            <label><input type="checkbox" name="" value="1">   agree to our privacy policy to continue</label>
            <br>
            <p><a class="nav-link" href="/gdpr/" target="_blank">click here to read our privacy policy</a></p>
            <br>
            <button type="submit" class="btn btn-success" style = "text-align:left; width:10px;">Register</button>  
    </form>          
    </div>
</div>
{% endblock %}
