{%extends "base.html"%} {% block content%}

<style>
    #wrap {
        float: left;
        position: relative;
        left: 50%;
        text-align: left;
    }

    #content {
        float: left;
        position: relative;
        left: -50%;
        text-align: left;
    }

    p{
        text-align:left;
        margin-left:50px;
        margin-right:50px;
    }

    ul{
        text-align:left;
        margin-left:50px;
        margin-right:50px;
    }
</style>

<body>
    <br><br><br><br><br><br>
    <h1>Team Matcher Privacy Policy</h2>
        <div id="wrap">
            <div id ="content">
                <div>
                    <div>
                        <p>
                            Team Matcher is managed by a group of six University of Birmingham
                            students. This privacy policy will explain how the team uses the
                            personal data we collect from you when you use our website.
                        </p>
                    </div>
                    <div>
                        <p>
                            What data do we collect?
                        </p>
                    </div>
                    <div>
                        <p>
                            Our team collects the following data:
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Personal identification information (name, email address,
                                    phone number, postcode, age, and gender)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Listed products (Name, description, price, and pictures)
                                </p>
                            </li>
                            <li>
                                <p>
                                    Username, profile picture, and password
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>
                            How do we collect your data?
                        </p>
                    </div>
                    <div>
                        <p>
                            You directly provide our team with most of the data we collect. We
                            collect data and process data when you:
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Register online or place an order for any of our products
                                    or services.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Pick a sport using our website.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Use or view our website via your browser’s cookies.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>
                            How will we use your data?
                        </p>
                    </div>
                    <div>
                        <p>
                            Our team collects your data so that we can:
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Manage your account.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Find the most suitable sport for you.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Manage the online store.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>
                            How do we store your data?
                        </p>
                    </div>
                    <div>
                        <p>
                            Our team securely stores your data within PostgreSQL, our secure
                            database system.
                        </p>
                    </div>
                    <div>
                        <p>
                            Our team will keep your personal identification information,
                            profile picture, username, and password until you decide to delete
                            your account. Our team will keep the products’ details until the
                            owner decides to remove them. The deletion of the data will be done
                            by securely and permanently removing the certain record from our
                            database system.
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        What are your data protection rights?
                    </p>
                </div>
                <div>
                    <p>
                        Our team would like to make sure you are fully aware of all of your
                        data protection rights. Every user is entitled to the following:
                    </p>
                </div>
                <div>
                    <p>
                        The right to access – You have the right to request our team for copies
                        of your personal data. We may charge you a small fee for this service.
                    </p>
                </div>
                <div>
                    <p>
                        The right to rectification – You have the right to request that our
                        team correct any information you believe is inaccurate. You also have
                        the right to request our team to complete the information you believe
                        is incomplete.
                    </p>
                </div>
                <div>
                    <p>
                        The right to erasure – You have the right to request that our team
                        erase your personal data, under certain conditions.
                    </p>
                </div>
                <div>
                    <p>
                        The right to restrict processing – You have the right to request that
                        our team restrict the processing of your personal data, under certain
                        conditions.
                    </p>
                </div>
                <div>
                    <p>
                        The right to object to processing – You have the right to object to our
                        team’s processing of your personal data, under certain conditions.
                    </p>
                </div>
                <div>
                    <p>
                        The right to data portability – You have the right to request that our
                        team transfer the data that we have collected to another organization,
                        or directly to you, under certain conditions.
                    </p>
                </div>
                <div>
                    <p>
                        If you make a request, we have one month to respond to you. If you
                        would like to exercise any of these rights, please contact us at our
                        email:
                    </p>
                </div>
                <div>
                    <p>
                        Call us at: +447760361624
                    </p>
                </div>
                <div>
                    <p>
                        Or email us:
                        <a
                            href="mailto:tim005@student.bham.ac.uk"
                            target="_blank"
                            rel="noreferrer noopener"
                        >
                            tim005@student.bham.ac.uk
                        </a>
                    </p>
                </div>
                <div>
                    <p>
                        Cookies
                    </p>
                </div>
                <div>
                    <p>
                        Cookies are text files placed on your computer to collect standard
                        Internet log information and visitor behavior information. When you
                        visit our websites, we may collect information from you automatically
                        through cookies or similar technology.
                    </p>
                </div>
                <div>
                    <p>
                        For further information, visit allaboutcookies.org.
                    </p>
                </div>
                <div>
                    <p>
                        How do we use cookies?
                    </p>
                </div>
                <div>
                    <div>
                        <p>
                            Our Company uses cookies in a range of ways to improve your
                            experience on our website, including:
                        </p>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <p>
                                    Keeping you signed in
                                </p>
                            </li>
                            <li>
                                <p>
                                    Understanding how you use our website
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p>
                            What types of cookies do we use?
                        </p>
                    </div>
                    <div>
                        <p>
                            There are a number of different types of cookies, however, our
                            website uses first-party cookies, so that we recognize you on our
                            website and remember your previously selected preferences.
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        How to manage cookies
                    </p>
                </div>
                <div>
                    <p>
                        You can set your browser not to accept cookies, and the above website
                        tells you how to remove cookies from your browser. However, in a few
                        cases, some of our website features may not function as a result.
                    </p>
                </div>
                <div>
                    <p>
                        Changes to our privacy policy
                    </p>
                </div>
                <div>
                    <p>
                        Our team keeps its privacy policy under regular review and places any
                        updates on this web page. This privacy policy was last updated on 3
                        March 2022.
                    </p>
                </div>
                <div>
                    <p>
                        How to contact us
                    </p>
                </div>
                <div>
                    <p>
                        If you have any questions about our team’s privacy policy, the data we
                        hold on you, or you would like to exercise one of your data protection
                        rights, please do not hesitate to contact us.
                    </p>
                </div>
                <div>
                    <p>
                        Email us at:
                        <a
                            href="mailto:tim005@student.bham.ac.uk"
                            target="_blank"
                            rel="noreferrer noopener"
                        >
                            tim005@student.bham.ac.uk
                        </a>
                    </p>
                </div>
                <div>
                    <p>
                        Call us: +447760361624
                    </p>
                </div>
                <div>
                    <p>
                        Resources used:
                        <a
                            href="https://gdpr.eu/privacy-notice/"
                            target="_blank"
                            rel="noreferrer noopener"
                        >
                            https://gdpr.eu/privacy-notice/
                        </a>
                        , accessed on 3.03.2022
                    </p>
                </div>

            </div>
        </div>
</body>

{%endblock%}