{%extends "base.html"%}

{%block title%}<title>Team Matcher Login</title>{%endblock%}

{% block content %}
<style>
    #mainNav {
        text-align: center;
    }
    p {
        text-align: left;
      }

    ul {
        text-align: left;
        display: block;
      }
    
    #wrap {
        float: left;
        position: relative;
        left: 50%;
        text-align: left;
    }

    #content {
        float: left;
        position: relative;
        left: -50%;
        text-align: left;
    }

    input[type=radio] {
        width:10px;
        
    }
    label{
        text-align:left;
        width: 140px;
    }
</style>


<br><br><br><br> <br><br>
<h1>LOG IN</h1>
{% if user.is_authenticated %}<p> you are already logged in {{user.username}}</p> {% endif %}
<br><br>
<div id="wrap">
    <div id="content">
        <form method="POST">
            {% csrf_token %} {{ form.as_p}} 
            <button type="submit" class="btn btn-success" style = "text-align:left">Log In</button>  
            <br><br>
    </form>          
    </div>
</div>
{% endblock %}
